@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    height: 100%;
    /* width: 100vw; */
    background-color: #f0eef1;
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
    font-size: 36px;
    font-weight: 700;
    padding: 20px;
}

.maincontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin-top: 10px;
}

.maincontent form{
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.maincontent form .player_name{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.maincontent .player_name .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.maincontent form label{
    width: 120px;
    display: inline-block;
    font-size: 24px;
}

.maincontent form input{
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid gray;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(232, 240, 254);
}

.maincontent form .button_submit{
    display: flex;
    justify-content: center;
}

.maincontent .game_ui{
    display: grid;
    /* justify-content: start; */
    place-content: start;
    gap: 15px;
}

.maincontent .result{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    height: 40px;
}

.maincontent .gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    background-color: lightblue;
}

.maincontent .restart{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.maincontent button{
    width: 100px;
    height: 50px;
    background-color: rgb(255, 174, 187);
    transition: 0.2s;
    border: none;
    font-size: 16px;
    font-weight: 300;
}

.maincontent button:hover{
    background-color: rgb(255, 96, 123);
}

.maincontent button:active{
    background-color: rgb(255, 174, 187);
}

.gameBoard>div{
    border: 1px solid black;
    font-size: 48px;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.footer{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    /* padding: 10px; */
}